# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    { label: 'Enable livescript-compile', command: 'livescript-compile:compile' }
  ]

menu: [
  {
    label: 'Packages'
    submenu: [
      label: 'Livescript Compile'
      submenu: [
        { label: 'Compile', command: 'livescript-compile:compile' }
      ]
    ]
  }
]
